<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectCIS.Properties.Settings.infoConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\info.mdb" providerName="System.Data.OleDb"/>
        <add name="ProjectCIS.Properties.Settings.infoConnectionStringInfo" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\userinfo\info.mdb;Persist Security Info=True;Jet OLEDB:Database Password=pwacis2561" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
